* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/img_background.jpg");
    font-family: "Times New Roman", sans-serif;
}

body > header {
    background: #507299;
    height: 45px;
    display: flex;
    align-items: center;
}

body > header .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

body > header #logo-pic {
    width: 23px;
    height: 100%;
    float: left;
    margin-right: 15px;
}

body > header h1 {
    display: inline;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
}