* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/img_background.jpg");
    font-family: "Times New Roman", sans-serif;
}

body > header {
    background: #507299;
    height: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

body > header .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

body > header #logo-pic {
    width: 20px;
    height: 100%;
    float: left;
    margin-right: 15px;
}

body > header h1 {
    display: inline;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
}

body > .content {
    padding-top: 40px;
    min-height: calc(100vh - 40px);
    position: relative;
}

body > .content > aside {
    background: #6788ae;
    width: 15%;
    position: absolute;
    overflow: hidden;
    height: 100%;
    padding-top: 30px;
}

body > .content > aside ul li {
    line-height: 1.3em;
    font-size: 17px;
    list-style: none;
    padding: 10px;
}

body > .content > aside ul li a {
    color: #ffffff;
    text-decoration: none;
}

body > .content > aside ul li a:hover {
    color: #afbed2;
}

.main-content {
    margin-left: 15%;
    margin-right: 300px;
}

.main-content-wrapper {
    background: #ffffff;
    border-radius: 10px;
    border: 1px #e7e7e7 solid;
    margin: 30px 0 20px 20px;
    padding: 25px 20px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-content #first-cat-pic{
    width: 300px;
    height: 300px;
}

.main-content #second-cat-pic{
    width: 300px;
    height: 360px;
}

.main-content #third-cat-pic{
    width: 300px;
    height: 390px;
}

.main-content #fourth-cat-pic{
    width: 300px;
    height: 220px;
}

.main-content #fifth-cat-pic{
    width: 300px;
    height: 250px;
}

.main-content #sixth-cat-pic{
    width: 300px;
    height: 300px;
}

.main-content .fixed-pic-wrapper {
    margin-top: 30px;
}

.main-content #fixed-cat-pic {
    position: fixed;
    top: 70px;
    right: 50px;
    z-index: 2;
}

body > footer {
    background: #ffffff;
    line-height: 40px;
    position: relative;
    z-index: 1;
}

body > footer #footer-cat{
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

body > footer h1 {
    color: #a8b5c6;
    font-weight: lighter;
    font-size: 18px;
    text-align: right;
    padding-right: 150px;
}

body > footer #height-450 {
    display: none;
}

@media (max-height: 450px) {
    body > footer #footer-cat{
        display: none;
    }

    body > footer #height-more-450 {
        display: none;
    }

    body > footer #height-450 {
        display: block;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .main-content #fixed-cat-pic {
        display: none;
    }

    .main-content {
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    body > .content > aside {
        display: none;
    }

    .main-content {
        margin-right: 0;
        margin-left: 0;
    }

    .main-content .main-content-wrapper {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .main-content {
        min-width: 450px;
    }
}